/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');*/

:root { 
  --color-primary: #006241; 
  --color-secondary: #d50032;
  --color-extra: #d4e9e2;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
  color: #000;
  font-size: 1rem;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

.container{
  width: 100%;
  max-width: 90rem;
  margin: 0 auto;
  padding: 0 1.25rem;
  min-width: 400px;
}

.navbar{
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 1.1);
  position: sticky;
  top: 0;
  z-index: 10000;
}

.nav_container{
  padding: 0.9rem 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_menu {
  display: flex;
}

.logotype {
  display: flex;
  align-items: center;
}

.logo img{
  height: 2.5rem;
}

.mobile-menu-btn{
  display: none;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  margin-left: 0.8rem;
}

.navbar-menu {
  display: flex;
  align-items: center;
}

.navbar-menu li {
  margin: 0 0.9rem;
}

.btn_header {
  font-weight: 600;
  transition: color 0.3s;
}

.btn_header:hover {
  color: #2be70e;
  opacity: 0.5;
}

.nav_action {
  display: flex;
  align-items: center;
}

.stores {
  margin: 0.9rem;
  display: flex;
  align-items: center;
}

.stores img {
  width: 1.5rem;
  margin-right: 0.3rem; 
}

.stores_span:hover {
  color: #2be70e;
}

.btn_header_right {
  border-radius: 3rem;
  border: 1px solid #000;
  padding: 0.5rem 1rem;
}

.button_middle {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color:#30e614;
  padding: 1rem 1.25rem;
  border-bottom: 1px solid #ddd;
}

.button_middle_coffee{
  display: flex;
  align-items: center;
}

.coffee {
  width: 1.5rem;
  height: 1.5rem;
} 

.arrow_head {
  width: 1.5rem;
  height: 1.5rem;
}

.main {
  padding: 1.25rem;
}

.card_general{
  display: flex;
  background-color: #fff;
  margin: 2.5rem 0;
}

.card_img {
  flex: 1;
}

.card_text{
  flex: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Карта 1 */
.card_big_text {
  background-color: #6d4120;
  color: #fff;
}

.card_big_text_h{
  font-size: 50px;
}

.card_big_text_p{
  width: 470px;
  font-size: 1.5rem;
}

.card_big_btn {
    background-color: #6d4120;
    color: #fff;
    width: 130px;
    min-height: 35px;
    border-radius: 50px;
    border: 2px solid rgb(255, 255, 255);
    box-sizing: border-box;
    max-width: 100px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 24px;
}

.card_big_btn:hover {
  background-color: #422915;
}

.card_little {
  gap: 0;
  margin-top: 32px;
}

.card_little_text {
  background-color: #e2d4ca;
  color: #000000;
}

.card_little_text_h{
  font-size: 1.5rem;
}

.card_little_text_p{
  margin: 1.5rem;
  font-size: 1rem;
}

.card_little_btn{
  width: 150px;
  min-width: 50px;
  min-height: 35px;
  border-radius: 1.8rem;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 16px;
  margin-top: 24px;
}

.card_little_btn:hover {
  background-color: #4cc514;
}

section.card_little:nth-child(2n){
  display: flex;
  flex-direction: row-reverse;
}

.predfooter{
  text-align: center;
  margin: auto;
  font-size: 0.875rem;
}

.predfooter_txt {
  line-height: 2;
  margin-top: 40px;
}

.predfooter_txt_margin {
  padding-top: 30px;
}

.footer {
  box-shadow: 0 -1px 3px rgba(0, 0, 0, .1), 0 -2px 2px rgba(0, 0, 0, .06), 0 0 2px rgba(0, 0, 0, .07);
  max-width: 90rem;
  margin: 0 auto;
  padding: 0 40px;
}

.footer_container_menu{
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
}

.footer_column{
  margin-right: 40px;
  min-width: 12.5rem;
}

.footer_column h3{
  font-size: 1.125rem;
  letter-spacing: 1px;
  font-weight: 400;
  margin-top: 1.25rem;
}

.footer_column ul li{
  margin-top: 30px;
  font-size: 0.875rem;
}

.footer_column a{
  color: #838181d5;
  transition: color 0.3s;
}

.footer_column a:hover{
  color: #202020;
}

.footer_container{
  margin: 0 auto;
  width: 100%;
}

.svg_soc_media_color{
  color: black;
  margin-right: 10px;
}

.soc_media_pos a:hover .sb-icon-hover{
  fill: #ccc;
  opacity: 0.2;
  r: 80%;
  transition: fill 0.3s ease, opacity 0.3s ease, r 0.3s ease;
}

.soc_media{
  border-top: 1px solid #ccc;
  padding: 10px;
}

.soc_media_pos{
  display: flex;
  justify-content: flex-start;
  gap: 1.25rem;
  margin-top: 10px;
}

.legal{
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  transition: color 0.3s;
}

.legal a{
  color: #000000;
  text-decoration: none;
  font-size: 0.875rem;
  margin-bottom: 15px;
}

.legal a:hover{
  text-decoration: underline;
  cursor: pointer;
}

.copywrite{
  font-size: 0.875rem;
  color: #00000094;
  text-align: center;
}

/* для компов */
@media(max-width: 64em){
  .mobile-menu-btn{
    display: block;
  }

  .navbar-menu:not(.navbar-action){
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    background: #fff;
    flex-direction: column;
    padding: 1.25rem;
  }

  .navbar-menu.active{
    display: flex;
  }

  .navbar-menu li{
    margin: 0.625rem 0;
  }

  section.card_little:nth-child(2n){
    flex-direction: column;
  }

  .card_general{
    flex-direction: column;
    margin: 10px;
  }

  .card_big_text_p{
    width: 25rem;
    font-size: 1.2rem;
  }

  .card_text{
    padding: 1.5rem;
  }

  .card_big_text_h .card_little_text_h{
    font-size: 1.5rem;
  }

  .card_little_btn{
    margin-top: 0;
  }

  .footer_container_menu{
    flex-direction: column;
    margin-left: 35px;
  }

  .legal{
    flex-direction: column;
    align-items: center;
  }

  .stores_span{
    display: none;
  }
}

@media(max-width: 30em){
  /* если меньше 480px */
  .nav_container{
    padding: 0.6rem 0.8rem;
  }

  .logo img {
    height: 1.5rem;
  }

  .btn_header_right{
    font-size: 0.875rem;
    margin-left: 5px;
  }

  .button_middle{
    padding: 0.6rem 0.9rem;
  }

  .card_text{
    padding: 1.25rem;
  }

  .card_big_text_h, .card_little_text_h{
    font-size: 1.25rem;
  }

  .card_big_text_p{
    width: 350px;
  }

  .footer_column{
    min-width: 100%;
    margin: 0;
  }
}
/*Выровнять отступ в footer с карточками(500px)*/
/* 490 строк */